{% extends 'base.html'%}

<!-- indicamos que contenido queremos que se muestre dentro de las etiquetas que estan en base -->
{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum rerum inventore necessitatibus neque incidunt deserunt molestias quasi ut similique, voluptas minima illo a eaque velit distinctio adipisci ipsam! Voluptate odio porro blanditiis provident rerum aperiam in, quam qui, eveniet suscipit et. Nemo nesciunt consequatur inventore expedita, nulla atque quae cupiditate officia minima sed fugiat maxime numquam adipisci, deleniti aspernatur veniam nobis esse eius, soluta harum veritatis debitis accusantium. Dignissimos, ex quas ratione esse nihil maxime animi doloremque soluta beatae. Ullam, rem. Quidem quibusdam minus tempora in voluptate, ratione nam voluptates quia veniam. Rerum exercitationem perferendis officia porro maiores, explicabo iusto.</p>    

            <div class="text-center">
                <a href="/signin/" class="btn btn-secondary">Signin</a>
                <a href="/signup/" class="btn btn-dark">Signup</a>
            </div>

        </section>
    </main>
{% endblock %}
